<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ categorie.nom }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="page-categorie">

    <div class="conteneur">
        <div class="contenu-interne">
            <div class="navigation">
                <a href="{{ url_for('index') }}" class="btn-retour">← Retour à l'accueil</a>

                <div class="admin-barre">
                    {% if session.get('is_admin') %}
                        <span>Connecté : {{ session.username }} | 
                            <a href="{{ url_for('admin') }}">Administration</a> | 
                            <a href="{{ url_for('logout') }}">Déconnexion</a>
                        </span>
                    {% else %}
                        <a href="{{ url_for('login') }}">Connexion administrateur</a>
                    {% endif %}
                </div>
            </div>

            <h1 class="titre-categorie">{{ categorie.nom }}</h1>
            <h2>Sommaire </h2>

            {% if documents %}
            <ul class="liste-documents">
                {% for doc in documents %}
                <li>
                    <h3><strong>{{ doc.titre }}</strong></h3>
                    <a href="{{ url_for('uploaded_file', filename=doc.fichier_nom) }}" target="_blank">📄 Afficher le document</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p class="message-vide">Aucun document disponible dans cette catégorie.</p>
            {% endif %}
        </div>
    </div>

</body>
</html>
